.container-dashboard {
  display: flex;
  position: relative;

  .sidebar {
    position: absolute;
    width: 300px;
    height: 100%;
    clear: none;
    right: 15px;
    text-align: center;
    @extend .card;
    padding: 30px;
    margin-bottom: 24px;

    .avatar {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  .content {
    flex: 1 0;
    height: 100%;
    margin-right: 328px;
    overflow: hidden;
    .card {
      margin-bottom: 16px;
      padding: 16px
    }
  }
}

/* On small screens the sidebar should be the full-width */
@media (max-width: 999px) {
  .container-fluid {
    display: block;

    .sidebar {
      width: 100%;
      height: auto;
      position: static;
      // @extend ;
    }

    .content {
      margin: 0;
    }
  }
}
