.form {
  padding-top: 48px;
}

.form-control {
  border-radius: 16px;
  box-shadow: 1px 1px 1px rgba(8, 8, 8, .05);
  border-color: $lime-green
}

.btn{
  color:white;
}


.form p {
  margin-top: 16px;
}

h2 {
  color: $lime-green
}

.btn-primary {
  border-radius: 24px;
  padding: 0px 8px;
  :hover {
    color: #f9f9f9;
  }
}
