// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "show";
@import "index-form";

.trips-header {
  margin-bottom: 24px;
  color: $lime-green;
}

.filter {
  margin-right: 16px;
  margin-top: 28px;

  .form-control {
  margin-bottom: 16px;
  }

  .btn {
    width:80px;
    border-radius: 16px;
    margin-bottom: 4px;
  }
}
