.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  transition: background 1s;
  &.scroll-bg {
    background-color: rgba(0,0,0,0.8);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}
