  .btn.btn-primary.review {
    width:160px;
    border-radius: 16px;
    margin-top: -15px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    transform: translateY(-70%);
  }

.review-button-container {
  text-align: center;
}
