.booking-table,
.trip-table {
  width: 100%;
  color: black;

  a,
  a:hover {
    text-decoration: none;
    color: black;
  }

  .list-group-item {
    border-radius: 14px !important;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1pt 4pt, rgba(0, 0, 0, 0.05) 0 2pt 8pt;
  }

  a {
    margin-bottom: 24px;
  }

  li {
    margin-bottom: 5px;
    text-align: left;
    &.table-head span { text-align: center !important; }

    .avatar {
      margin-left: 15px;
      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    i {
      display: inline;
      vertical-align: 20%;
      font-size: 70%;
    }
    display: flex;
    align-items: center;

    span {
      flex-basis: 24%;
      display: inline-block;
      flex: 1 1;
      border: 1px solid red;
      text-align: center;

      &:last-child {
        text-align: right;
        flex-basis: 28%;
      }
    }

    .trip-table__date {
      @media screen and (max-width: 900px) {
        font-size: 80%;
      }
    }
  }
}

.booking-table {
  .list-group-item {
    flex-direction: column;
    align-items: stretch;

    div {
      margin-top: 8px;
      display: flex;
      align-items: center;
      &:not(:first-child) {
        border-radius: 14px !important;
        width: 100%;
        padding: 8px 16px;
        box-shadow: rgba(0, 0, 0, 0.16) 0 1pt 4pt, rgba(0, 0, 0, 0.05) 0 2pt 8pt;
      }
      &:first-child {
        border-bottom: 1px solid $light-gray;
        padding-bottom: 8px
      }
      span:first-child {
        text-align: left;
      }


    }
  }
}
