.trip-table {
  width: 100%;
  color: black;
  a, a:hover {
    text-decoration: none;
    color: black;
  }

  .list-group-item {
    border-radius:24px;
    width:100%;
  }

  a {
    margin-bottom: 24px;
  }

  a li{
    border-radius:24px;
  }
  li {
    margin-bottom: 5px;
    text-align: center;
    .avatar {
      margin-left: 15px;
      @media screen and (max-width: 900px) {
        display: none
      }

    }
    i {
      display: inline;
      vertical-align: 20%;
      font-size: 70%;
    }
    display: flex;
    align-items: center;
    span { width: 25%; display: inline-block;}
    .trip-table__date {
      @media screen and (max-width: 900px) {
        font-size: 80%;
      }
    }
  }
}
