.table-sm {
  color: black;
  a, a:hover {
    text-decoration: none;
    color: black;
  }
  tr {
    padding: 0;
  }
  tbody tr {
    background-color: #fff;
    cursor: pointer;
  }
  td {
    vertical-align: middle;
    padding: 20px 15px;
    .avatar {
      float: right;
      @media screen and (max-width: 900px) {
        display: none
      }

    }
    i {
      display: inline;
      vertical-align: 20%;
      font-size: 70%;
    }
    align-items: center;
    span { width: 25%; display: inline-block;}
    .trip-table__date {
      @media screen and (max-width: 900px) {
        font-size: 80%;
      }
    }
  }
}
